# Always ignore journal and log files
*.log
*.jou
*.str

# Ignore trash in bd directory except .BD files
/bd/**/*
!/bd/**/*.bd

# Ignore editor's temporary files
*~
*#

# Ignore sendboxes
/prj*/

# Ignore Vivado temporary files
.Xil/