NET "CLK_Src0"  LOC = AD20 |IOSTANDARD = LVCMOS25;
NET "FPGA_Butt" LOC = AC19 |IOSTANDARD = LVCMOS25;//USRRST
//GPIO
// NET "CLK_N"     LOC = AB10 | IOSTANDARD = LVDS_25;
// NET "CLK_P"     LOC = AB11 | IOSTANDARD = LVDS_25;
// NET "SIG_N"     LOC = W15  | IOSTANDARD = LVDS_25;
// NET "SIG_P"     LOC = W16  | IOSTANDARD = LVDS_25;
// NET "MAG_N"     LOC = AA10 | IOSTANDARD = LVDS_25;
// NET "MAG_P"     LOC = Y10  | IOSTANDARD = LVDS_25;
NET "GPIO[3]"   LOC = W15  |IOSTANDARD = LVCMOS25;
NET "GPIO[4]"   LOC = AB10 |IOSTANDARD = LVCMOS25;
NET "GPIO[5]"   LOC = W16  |IOSTANDARD = LVCMOS25;
NET "GPIO[6]"   LOC = AB11 |IOSTANDARD = LVCMOS25;
NET "GPIO[7]"   LOC = Y15  |IOSTANDARD = LVDS_25;
NET "GPIO[8]"   LOC = AA10 |IOSTANDARD = LVCMOS25;
NET "GPIO[9]"   LOC = Y16  |IOSTANDARD = LVDS_25;
NET "GPIO[10]"  LOC = Y10  |IOSTANDARD = LVCMOS25;
NET "GPIO[11]"  LOC = AA14 |IOSTANDARD = LVDS_25;
NET "GPIO[12]"  LOC = Y11  |IOSTANDARD = LVCMOS25;
NET "GPIO[13]"  LOC = AA15 |IOSTANDARD = LVDS_25;
NET "GPIO[14]"  LOC = Y12  |IOSTANDARD = LVCMOS25;
NET "GPIO[15]"  LOC = AB16 |IOSTANDARD = LVCMOS25;
NET "GPIO[16]"  LOC = AC16 |IOSTANDARD = LVCMOS25;
NET "GPIO[17]"  LOC = AB17 |IOSTANDARD = LVCMOS25;
NET "GPIO[18]"  LOC = AC17 |IOSTANDARD = LVCMOS25;
NET "GPIO[19]"  LOC = AD13 |IOSTANDARD = LVDS_25;
NET "GPIO[20]"  LOC = AA12 |IOSTANDARD = LVCMOS25;
NET "GPIO[21]"  LOC = AC13 |IOSTANDARD = LVDS_25;
NET "GPIO[22]"  LOC = AA13 |IOSTANDARD = LVCMOS25;



#Created by Constraints Editor (xc7z045-ffg676-2) - 2014/11/17
NET "GPIO<21>" TNM_NET = GPIO<21>;
TIMESPEC TS_GPIO_21_ = PERIOD "GPIO<21>" 125 MHz HIGH 50%;
NET "GPIO<19>" TNM_NET = GPIO<19>;
TIMESPEC TS_GPIO_19_ = PERIOD "GPIO<19>" TS_GPIO_21_ HIGH 50%;




// net "clkin1_p" 		period = 175 MHz ;			# Pixel clock timing

net "rx_pixel_clk" 	tnm = rx_pixel_clk 		| tnm = FFS rx_pixel_clk_ffs ;
net "*rxclk_d4" 	tnm = RAMS rxclk_d4_rams 	| tnm = FFS rxclk_d4_ffs ; 

timespec ts_rx_00 = from rxclk_d4_rams to rx_pixel_clk TIG ;		# Need to ignore the DistRAMs output path
timespec ts_rx_01 = from rx_pixel_clk_ffs to FFS(*rx*dom_ch*) TIG ;	# Need to ignore retiming paths from pixel clock to clk_d4
timespec ts_rx_02 = from rxclk_d4_ffs to FFS(*rx*dom_ch*) TIG ;		# Need to ignore retiming paths from clk_d4 to pixel clock
